.row-tasks{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}

.button-container {
    display: flex;
    justify-content: center; 
}
button{
    color: white;
    margin: 10px;
    padding: 20px;
    background-color: var(--color-background-main);
    border-radius: 40px;
    font-size: 0.8rem;

}

button:hover {
    animation: shake 0.5s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
button:active {
   background-color: var(--color-background-main-active);
}
  
@keyframes shake {
    0% {
      transform: translateY(0); /* Начальная позиция */
    }
    25% {
      transform: translateY(-10px); /* Двигается влево */
    }
    50% {
      transform: translateY(10px); /* Двигается вправо */
    }
    75% {
      transform: translateY(-10px); /* Двигается влево */
    }
    100% {
      transform: translateY(0); /* Возвращается в исходную позицию */
    }
}
  