ion-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 10px; 
    justify-content: center; 
    padding: 10px;
}
ion-item {
    --border-width: 0; 
    --inner-border-width: 0;
    border: none;
    box-shadow: none;
    background: transparent;
}
.reader-card {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}
  
.reader-name {
    font-size: 1.2rem;
    font-weight: bold;
}
  
.reader-content {
    font-size: 1rem;
}
  
.reader-content p {
    margin-bottom: 10px;
}
  
.reader-card-header {
    background-color: #9cacbdd5;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

canvas{
    width: 100%;
}