<app-my-header name="Лабораторна робота №2"></app-my-header>

<ion-content [fullscreen]="true">
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="custom-card-title">Завдання 2</ion-card-title>
    </ion-card-header>
    <ion-card-content class="custom-card-content">
      <p>На заданому проміжку чисел [a, b] знайти суму всіх, які кратні 15
        та при діленні на 7 дають в остачі 5. Потрібно вивести як самі числа так і
        результати обрахунку.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Введіть проміжок [a,b]:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">a</ion-label>
        <ion-input class="custom-cursor" type="number" [(ngModel)]="num1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">b</ion-label>
        <ion-input class="custom-cursor" type="number" [(ngModel)]="num2"></ion-input>
      </ion-item>

      <ion-button class="custom-button" expand="full" (click)="calculate(num1 || 0, num2 || 0)">Обчислити</ion-button>

      <ion-text *ngIf="result !== null">
        <p><strong>Знайдені числа:</strong> {{ result.numbers.join(', ') }}</p>
        <p><strong>Сума чисел:</strong> {{ result.sum }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>
