<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="medium">
        <ion-title>Мeню</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
        <ion-list>
          <ion-item button href="">Лабораторна робота Nº1</ion-item>
          <ion-item button href="cloud/">Лабораторна робота Nº2</ion-item>
          <ion-item button href="abstract-class/">Лабораторна робота Nº3-4</ion-item>
          <ion-item button href="servicepage/">Лабораторна робота Nº5</ion-item>
          <ion-item button href="solid/">Лабораторна робота Nº6</ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app> 